/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://sistema-de-corte-edvam.vercel.app/login.jpg');
  background-size: cover;  /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição */
}

.login-card {
  background: rgba(255, 255, 255, 0.2); /* Fundo semitransparente */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
}

.white-label {
  color: white;
}

.ant-input,
.ant-select-selector,
.ant-input-password {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}

.ant-btn {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .login-card {
    width: 100%;
  }
}
