/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #4f4f4f, #ffffff);
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-title {
  text-align: center;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  font-size: 20px;
}

.login-form .ant-input-affix-wrapper {
  border-radius: 8px;
}

@media (max-width: 767px) {
  .login-card {
    width: 100%;
  }
}
